// Base Colors
$color-black: #000 !default;
$color-black-light: #333 !default;
$color-white: #fff !default;

$color-primary: #80a8cc !default;
$color-gray-lighter: #e3dfd8 !default;
$color-gray-light: #c6c1b0 !default;
$color-gray: #605e58 !default;

$color-text: #e2ddd2 !default;


///*----------- Margin  */
$margin-xs:6px !default;
$margin-s:12px !default;
$margin-m:18px !default;
$margin-l:24px !default;
$margin-xl:30px !default;