// Base Colors
$color-black: #000 !default;
$color-white: #fff !default;


///*----------- Margin  */
$margin-xs:6px !default;
$margin-s:12px !default;
$margin-m:18px !default;
$margin-l:24px !default;
$margin-xl:30px !default;